nav li:hover,
nav a.nav-link:hover {
  text-decoration: none;
  color: #9de0ec;
}

nav li {
  cursor: pointer;
  color: white;
  text-transform: uppercase;
}

.nav-links > li {
  padding: 5px;
}

nav {
  background: #121f2d;
  top: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: fixed;
  right: 0;
  width: 100%;
  height: 6vh;
  z-index: 77777;
}

nav li {
  list-style: none;
}

nav li.nav-btn {
  -webkit-transition: 0.5s border ease-in;
  transition: 0.5s border ease-in;
  padding: 5px 5px;
  margin: 1px 2px;
  border-top: 1px solid transparent;
  border-right: 1px solid transparent;
  border-left: 1px solid transparent;
}

nav li.nav-btn.show-border {
  border-top: 1px solid white;
  border-right: 1px solid white;
  border-left: 1px solid white;
}

nav .logo-holder {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  left: 5px;
}

nav .logo-holder img {
  height: 30px;
}

#loging {
  margin-left: -13px;
  position: absolute;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
}

.sub-menu {
  z-index: 2;
  pointer-events: none;
  -webkit-transition: all .5s ease-in;
  transition: all .5s ease-in;
  position: absolute;
  opacity: 0;
  background: #121f2d;
  margin-top: 8px;
  margin-left: -6px;
  border: 1px solid white;
  padding: 5px !important;
  -webkit-box-shadow: 0px 0px 0px 3px #121f2d, 0px 0px 0px 2px white;
  box-shadow: 0px 0px 0px 3px #121f2d, 0px 0px 0px 2px white;
}

.first-sub:before {
  content: " ";
  position: absolute;
  width: 1px;
  height: 5px;
  z-index: 1;
  top: -5px;
  left: -1px;
  background-color: white;
}

.first-sub a:before {
  content: " ";
  position: absolute;
  width: 1px;
  height: 5px;
  z-index: 1;
  top: -5px;
  left: 66px;
  background-color: white;
}

.first-sub:after {
  content: " ";
  position: absolute;
  width: 66px;
  height: 5px;
  z-index: 1;
  top: -5px;
  left: 0px;
  background-color: #121f2d;
}

.sec-sub:before {
  content: " ";
  position: absolute;
  width: 1px;
  height: 5px;
  z-index: 1;
  top: -5px;
  left: -1px;
  background-color: white;
}

.sec-sub a:before {
  content: " ";
  position: absolute;
  width: 1px;
  height: 5px;
  z-index: 1;
  top: -5px;
  left: 78px;
  background-color: white;
}

.sec-sub:after {
  content: " ";
  position: absolute;
  width: 78px;
  height: 5px;
  z-index: 1;
  top: -5px;
  left: 0px;
  background-color: #121f2d;
}

.thr-sub:before {
  content: " ";
  position: absolute;
  width: 1px;
  height: 5px;
  z-index: 1;
  top: -5px;
  left: -1px;
  background-color: white;
}

.thr-sub a:before {
  content: " ";
  position: absolute;
  width: 1px;
  height: 5px;
  z-index: 1;
  top: -5px;
  left: 96px;
  background-color: white;
}

.thr-sub:after {
  content: " ";
  position: absolute;
  width: 96px;
  height: 5px;
  z-index: 1;
  top: -5px;
  left: 0px;
  background-color: #121f2d;
}

.last-sub:before {
  content: " ";
  position: absolute;
  width: 1px;
  height: 5px;
  z-index: 1;
  top: -5px;
  right: -1px;
  background-color: white;
}

.last-sub a:before {
  content: " ";
  position: absolute;
  width: 1px;
  height: 5px;
  z-index: 1;
  top: -5px;
  margin-left: 59px;
  background-color: white;
}

.last-sub:after {
  content: " ";
  position: absolute;
  width: 54px;
  height: 5px;
  z-index: 1;
  top: -5px;
  right: 0px;
  background-color: #121f2d;
}

.even-sub:before {
  content: " ";
  position: absolute;
  width: 1px;
  height: 5px;
  z-index: 1;
  top: -5px;
  right: -1px;
  background-color: white;
}

.even-sub a:before {
  content: " ";
  position: absolute;
  width: 1px;
  height: 5px;
  z-index: 1;
  top: -5px;
  left: 63px;
  background-color: white;
}

.even-sub:after {
  content: " ";
  position: absolute;
  width: 54px;
  height: 5px;
  z-index: 1;
  top: -5px;
  right: 0px;
  background-color: #121f2d;
}

.even-sec-sub:before {
  content: " ";
  position: absolute;
  width: 1px;
  height: 5px;
  z-index: 1;
  top: -5px;
  left: -1px;
  background-color: white;
}

.even-sec-sub a:before {
  content: " ";
  position: absolute;
  width: 1px;
  height: 5px;
  z-index: 1;
  top: -5px;
  left: 77px;
  background-color: white;
}

.even-sec-sub:after {
  content: " ";
  position: absolute;
  width: 77px;
  height: 5px;
  z-index: 1;
  top: -5px;
  left: 0px;
  background-color: #121f2d;
}

.sub-menu.showmy {
  pointer-events: all;
}

.showmy {
  opacity: 1;
}

.nav-links {
  z-index: 3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  width: fit-content;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  height: 100%;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: auto;
  margin-right: -8px;
}

.nav-links > li:last-of-type ul.sub-menu {
  right: -6px;
}

.nav-links li a,
.nav-links > li {
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 16px;
}

.nav-links li a:hover,
.nav-links > li:hover {
  color: #9de0ec;
}

@media screen and (min-width: 768px) and (max-width: 800px) {
  #loging {
    margin-left: 0;
  }
}

@media screen and (max-width: 767px) {
  nav {
    height: 8vh;
  }
  nav .hamburger {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 100%;
    position: absolute;
    cursor: pointer;
    right: 1%;
    top: 0;
    z-index: 44444;
  }
  nav .hamburger .line {
    width: 30px;
    height: 3px;
    background: white;
    margin: 5px;
  }
  nav .nav-links > li:last-of-type ul.sub-menu {
    right: 2px !important;
  }
  nav .nav-links {
    margin-top: -1px;
    z-index: 3333;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    list-style: none;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
    padding-top: 10px;
    padding-left: 5px;
    left: 0;
    position: absolute;
    background: #121f2d;
    height: 24vh;
    width: 100%;
    min-height: 102px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
    -webkit-transition: all 1s ease-out;
    transition: all 1s ease-out;
    pointer-events: none;
  }
  nav .nav-links .sub-menu {
    margin-top: 8px;
    margin-left: -6px;
  }
  nav .nav-links .sub-menu li a {
    padding: 2px 5px;
  }
  nav .nav-links li {
    -webkit-transition: all 1s ease-out;
    transition: all 1s ease-out;
    opacity: 0;
  }
  nav .nav-links li a {
    color: white;
  }
  nav .nav-links li a:hover {
    color: white;
  }
  nav .nav-links .nav-links li:nth-child(1) {
    -webkit-transition: all 0.5s ease 0.2s;
    transition: all 0.5s ease 0.2s;
  }
  nav .nav-links .nav-links li:nth-child(2) {
    -webkit-transition: all 0.5s ease 0.4s;
    transition: all 0.5s ease 0.4s;
  }
  nav .nav-links .nav-links li:nth-child(3) {
    -webkit-transition: all 0.5s ease 0.6s;
    transition: all 0.5s ease 0.6s;
  }
  nav .nav-links li.fade {
    opacity: 1;
  }
  nav .nav-links.open {
    z-index: 333;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
    pointer-events: all;
  }
  nav .even-sub a:before {
    left: 73px;
  }
  nav .sec-sub a:before {
    left: 78px;
  }
  nav .sec-sub:after {
    width: 78px;
  }
  nav .last-sub a:before {
    margin-left: 63px;
  }
  nav #loging {
    margin-left: 30px;
    position: relative;
  }
  nav .even-sec-sub a:before {
    left: 78px;
  }
  nav .even-sec-sub:after {
    width: 78px;
  }
}

@media screen and (max-width: 340px) {
  .even-sec-sub a:before {
    left: 77px !important;
  }
  .even-sec-sub:after {
    width: 77px !important;
  }
}
/*# sourceMappingURL=nav.css.map */