@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css?family=Bevan|Emblema+One|Montserrat:700,700i,800,800i,900,900i|Old+Standard+TT:700|Press+Start+2P|Racing+Sans+One|Tinos:700,700i&display=swap');
body {
    -webkit-font-smoothing: antialiased;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    font-family: 'Open Sans';
    font-size: 14px;
    box-sizing: border-box;
    margin: 0;
    width: 100%;
    height: 100%;
    /* min-height: 100vh; */
    /* background-image: url(../img/nasivojmala.svg); */
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

@keyframes yourAnimation {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

::-webkit-scrollbar {
    display: none;
}

p {
    margin-bottom: 0!important;
}

h6 img {
    animation: yourAnimation 5s infinite 0s linear;
}

a {
    color: inherit;
}

a:hover {
    text-decoration: none;
    color: inherit;
}
.number {
    text-align: right;
}
.myshadow {
    box-shadow: 4px 4px 20px -3px  rgba(0, 0, 0, .15);
}

.btn-sec {
    border-top: 1px solid #5e5f63;
    border-right: 2px solid #5e5f63;
    border-bottom: 4px solid #5e5f63;
    border-left: 1px solid #5e5f63;
    padding: 6px 8px;
    border-radius: 18px;
    color: rgb(53, 52, 52);
}

.btn-sec:hover {
    background: whitesmoke;
    color: #000000;
}

.btn-sec,
.mybutton,
.add-item {
    text-transform: uppercase;
}

.mybutton {
    border-radius: 18px;
    border-top: 1px solid #5e5f63;
    border-right: 2px solid #5e5f63;
    border-bottom: 4px solid #5e5f63;
    border-left: 1px solid #5e5f63;
    line-height: 1.45;
    color: white;
    background: #73808f;
    font-size: inherit;
}

.mybutton:hover {
    background: white;
    color: black;
}

.add-item {
    padding: 6px 8px;
    border-radius: 18px;
    background: white;
    color: #368fdc;
    border-top: 1px solid #368fdc;
    border-right: 2px solid #368fdc;
    border-bottom: 4px solid #368fdc;
    border-left: 1px solid #368fdc;
}

.add-item:hover {
    color: white;
    background: #368fdc;
}

#add-item-btn {
    background: white;
    border: 1px solid #ced4da;
}

/* div>input,
.search input,
div.form-control,
div>select {
    border-radius: 18px!important;
} */

input:focus,
textarea:focus {
    /* border: none; */
    background: #f0f8ff;
    outline: 2px solid transparent;
    outline-offset: 1px;
}

#hint-inp {
    padding: 0 10px;
}

input[autofocus] {
    width: 100%!important;
}

input[type=checkbox] {
    width: 20px!important;
}

.form-control {
    font-size: inherit;
}

label {
    min-width: 73px;
}

form {
    width: -webkit-fill-available;
}

caption {
    caption-side: top;
}

.cont-stat .table th {
    border: none!important;
}

.container {
    padding: 0;
}

.container#entry-table table,
.container-fluid#entry-table table {
    width: max-content!important;
    max-width: max-content!important;
    min-width: 100%;
}

table.table-striped td {
    padding: 8px;
}

table.table-striped thead th {
    border: none;
    padding: 10px 2px;
}

caption {
    text-align: center;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 1.2rem;
    font-weight: bold!important;
}

.table-striped tbody tr:nth-of-type(odd) {
    background-color: rgba(235, 235, 235, 0.28);
}

th {
    font-size: 16px;
}

ul {
    /* list-style: "➖"; */
    list-style: none;
    padding-inline-start: 0!important;
}

i {
    font-size: 18px;
}

button.edit-item,
button.view-item,
button.delete-item {
    background: transparent;
    border: none;
}

button.edit-item a:hover{
    color: deepskyblue;
}

button.delete-item a:not([href]):hover{
    color: red;
}

button.view-item a:hover {
    color: rgb(102, 132, 160);
}

.article th:first-of-type {
    min-width: 200px;
}

.article th:nth-of-type(2) {
    min-width: 120px;
}

.article th:nth-of-type(3),
.article th:nth-of-type(4),
.article th:nth-of-type(5) {
    width: 70px;
}

.article h6>img {
    width: 35px;
    margin-left: auto;
    margin-right: auto;
}

.create-wrapper {
    border-radius: 3px;
    background: aliceblue;
    padding: 20px 0;
    margin-top: 10vh;
}

.create-header h2 {
    width: fit-content;
    margin: auto;
    text-transform: uppercase;
    padding: 0 15px 6px 15px;
    border-bottom: 3px solid #71477a;
    margin-top: 80px;
    margin-bottom: 20px;
}

.input-wrapper {
    flex-wrap: nowrap;
    align-items: center;
    display: flex;
    width: 100%;
}

.input-wrapper label {
    min-width: unset;
    width: 28%;
}

.entry {
    margin-top: 6vh;
    background: aliceblue;
    padding: 20px 0;
}

/* .entry #entry-data {
    border-bottom: 1px dotted gray;
} */

#item-hint {
    border-radius: 3px;
    line-height: 1.7;
    border: 1px solid #e5e5e5;
}

#hints {
    display: none;
}

div.entry-item-box,
div.inv-item-box {
    flex-wrap: wrap;
    display: flex;
    padding: 15px;
    border-radius: 3px;
}

div.inv-item-box {
    flex-wrap: wrap;
    border-radius: 3px;
    margin-top: 20px;
    padding: 15px;
    padding-top: 30px;
    border-top: 1px dotted gray;
}

div.pagination-links {
    margin-top: 15px;
}

div.pagination-links li a:hover,
div.pagination-links li.active a {
    background-color: rgb(221, 222, 223);
}

div.pagination-links li a {
    padding: 5px;
    margin: 2px;
    border: 1px solid lightgray;
}

.foo-logo img {
    margin: auto;
    height: 50px;
}

.foo-logo {
    color: rgb(130, 219, 251);
    position: absolute;
    display: flex;
    flex-direction: column;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: rgb(18, 31, 45);
}

.foo-logo p:first-child {
    margin-left: 48px;
    margin-bottom: -4px
}

.foo-logo p:last-child {
    margin-top: -4px;
    margin-bottom: 2px
}

.home-menu {
    display: flex;
}

.hom-sec {
    margin-bottom: 100px;
    margin-top: 100px;
}

.hom-sec ul li {
    padding-left: 10px;
}

.hom-why {
    margin-top: 100px;
}

.hom-why .col-sm-12 h4,
.hom-why .col-sm-12 ul {
    width: fit-content;
    margin: auto;
}

.hom-why .col-sm-12 ul {
    margin-top: 30px;
}

#hom-welc {
    margin-bottom: 40px;
    text-align: center;
    font-size: 1.5rem;
}

#hom-parag {
    font-size: 1.5rem;
}

.hom-wrapper {
    background: aliceblue;
    align-items: center;
    min-height: 20vh;
    display: flex;
}

#hom-title {
    font-family: 'Tinos', serif;
    text-align: center;
    font-size: 7.47rem;
}

#hom-title b {
    color: #74147a;
}

.search {
    padding: 15px 0 10px 10px;
    background-color: #f9f9f9;
}

.search h6 {
    font-weight: bold;
}

.search label {
    margin-right: 10px;
    font-style: italic;
}

.search form {
    display: flex;
}

.create-header {
    text-align: center;
    padding-bottom: 20px;
}

.create-header h4 {
    width: fit-content;
    margin: auto;
    margin-bottom: 0;
    padding: 15px;
    text-transform: uppercase;
}

.cont-stat {
    background: #f8f9fa;
    padding: 0 5px 10px 5px;
    margin-bottom: 60px;
}

.cont-stat .col-md-4 p {
    margin: 0 1px;
    padding: 5px;
    border: 1px solid gray;
    margin-bottom: 0;
}

.cont-stat .col-md-4 p {
    border-top: none;
}

.cont-stat table {
    font-size: inherit!important;
}

@media (max-width: 1024px) {
    body {
        font-size: 11px;
    }
}

@media (max-width: 768px) {
    caption {
        text-align: left;
    }
    th {
        font-size: 13px;
    }
    #hom-title {
        font-size: 3.5rem;
    }
    #hom-parag,
    #hom-welc {
        margin-bottom: 30px;
        font-size: 1.1rem;
    }
    .hom-why {
        margin-top: 50px;
    }
    .create-header h4 {
        padding: 10px;
        font-size: 21px;
    }
    .input-wrapper {
        display: block;
    }
    .input-wrapper label {
        margin-bottom: 3px;
    }
    div.inv-item-box {
        padding-top: 15px;
    }
    .foo-logo {
        position: relative;
    }
    .foo-logo img {
        margin: auto;
        height: 40px;
    }
    .foo-logo p:first-child {
        margin-left: 37px;
    }
}

@media (min-width: 769px) {}